<title><%= title %></title>

<body>
    <form action="/user/create-session" method="post">
        <input type="email" name="email" id="" placeholder="Enter your email-id">
        <input type="password" name="password" id="" placeholder="enter password">
        <button type="submit">Log-in</button>
    </form>
</body>