<title><% title %></title>
<body><h1>My Profile Details</h1>
    <h3>
    <p>My Name : <%= user.name %></p>
    <p>My Email : <%= user.email %></p>
    <a href="/user/sign-out"><button>Sign-out</button></a>
    </h3>
</body>